<a href="https://colab.research.google.com/github/mohammadhalayka/cryptopp/blob/master/Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = {
"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew",
"Laura", "Kevin", "Jonas"],
"score": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
"qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df['qualify'] = df['qualify'].map({'yes': True, 'no': False})

print(df)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True